html, body {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  font-size: 62.5% !important;
}

/*
  WVGA => QHD
  --
  Supported devices:
    * 480x800
  --
  UA default font size 16px.
  62.5% = 10px (base device)
  62.5% * 1.5 (dppx) = ~94% (93.75%)
*/
/*Portrait*/
@media all and (min-device-width: 480px) and (max-device-width: 540px) and (max-device-aspect-ratio: 1/1) {
  html { font-size: 94%!important; }
}

/*Landscape*/
@media all and (min-device-width: 800px) and (max-device-width: 960px) and (min-device-aspect-ratio: 1/1) {
  html { font-size: 94%!important; }
}

/*
  QHD => HD
  --
  Supported devices:
    * Geeksphone Peak: 540×960
  --
  UA default font size 16px.
  100% = 16px
  62.5% = 10px (base device)
  62.5% * 1.6875 (dppx) = ~105% (105,46875%)
*/

/*Portrait*/
@media all and (min-device-width: 540px) and (max-device-width: 720px) and (max-device-aspect-ratio: 1/1) {
  html { font-size: 105%!important; }
}

/*Landscape*/
@media all and (min-device-width: 960px) and (max-device-width: 1280px) and (min-device-aspect-ratio: 1/1) {
  html { font-size: 105%!important; }
}

img.logo {
  padding: 2rem;
}

.view {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  background-color: #f3f3f3;
}

.view[data-page-position = "viewport"] {
  transform: translateX(0);
}

.view[data-page-position = "bottom"] {
  transform: translateY(100%);
}

.view[data-page-position = "right"] {
  transform: translateX(100%);
}

.view > section {
  text-align: center;
  height: calc(100% - 5rem);
}

section[role="region"] > header .icon.icon-settings {
  background-image: url(icons/settings.png);
}

section[data-type="list"] {
  overflow: auto;
  text-align: left;
}

form#login-form {
  text-align: center;
  display: block;
  margin: 0 2rem 0 2rem;
}

button {
  margin-top: 2rem;
  width: 50%;
}

.info {
  margin-top: 1rem;
  font: normal 1.4rem/1em "Open Sans", Sans-serif;
}

/** tabs hack */
[role="tablist"] .active [role="tabpanel"] {
  z-index: 1;
  visibility: visible;
}

[role="tablist"][data-type="filter"] > [role="tab"].active {
  background: #fff;
  border: solid 0.1rem #999;
  border-top: none;
  color: #62c6f5;
}